@model ResetPasswordModel
@{
    Layout = "~/Views/Shared/_LayoutPartial.cshtml";
}

<form asp-action="ResetPassword" data-ajax="true" data-ajax-method="post" data-ajax-begin="ajaxBegin" data-ajax-success="ajaxSuccess" data-ajax-complete="ajaxComplete">
    <input type="hidden" asp-for="Id" />
    <div class="row">
        <div class="col-md-12">
            <div class="mb-3">
                <wc-label asp-for="Password" />
                <input asp-for="Password" class="form-control form-control-maxlength" autocomplete="off" maxlength="100" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
    </div>
    <partial name="_ModalButton" />
</form>