@model CountryModel
@{
    ViewData["Title"] = Localize("CountryPage.Title");
}

<div class="card">
    <div class="card-header">
        <div class="card-title"><i class="fa fa-edit me-2"></i>@Localize("CountryPage.Title").Text</div>
    </div>
    <div class="card-body p-0">
        <form asp-action="Edit">
            @await Html.PartialAsync("_Form", Model)
        </form>
    </div>
</div>