<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>@ViewData["Title"] - Backlog</title>
    @await Html.PartialAsync("Sections/_Styles")
</head>
<body>
    <div class="bg-body-tertiary min-vh-100 d-flex flex-row align-items-center">
        <div class="container">
            @RenderBody()
        </div>
    </div>
    <!-- Core JS -->
    <script src="~/js/theme/tabler.min.js"></script>
</body>

</html>
