<div class="offcanvas offcanvas-end" tabindex="-1" id="pdOffCanvas" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="offcanvasEndLabel">
    <div class="offcanvas-header border-bottom pb-2">
        <h5 class="offcanvas-title" id="pdOffCanvasBodyTitle">End offcanvas</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" id="pdOffCanvasBody">
        <div class="offcanvas-loader">
            <div class="spinner-border text-danger" role="status" style="width: 2rem; height: 2rem;">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</div>