@model EmployeeProjectModel
@Html.AntiForgeryToken()
<input type="hidden" asp-for="Id" />
<input type="hidden" asp-for="ProjectId" />
<div class="validation-errors"></div>
<div class="row">
    <div class="col-md-12">
        <div class="mb-3">
            <wc-label asp-for="EmployeeId" />
            <select asp-for="EmployeeId" asp-items="Model.AvailableEmployees" class="form-control select2"></select>
            <span asp-validation-for="EmployeeId" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="mb-3">
            <label class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" asp-for="CanReport">
                <wc-label asp-for="CanReport" />
            </label>
        </div>
    </div>
    <div class="col-md-12">
        <div class="mb-3">
            <label class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" asp-for="CanClose">
                <wc-label asp-for="CanClose" />
            </label>
        </div>
    </div>
    <div class="col-md-12">
        <div class="mb-3">
            <label class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" asp-for="CanReOpen">
                <wc-label asp-for="CanReOpen" />
            </label>
        </div>
    </div>
    <div class="col-md-12">
        <div class="mb-3">
            <label class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" asp-for="CanComment">
                <wc-label asp-for="CanComment" />
            </label>
        </div>
    </div>
</div>