@model ProjectModel
@{
    ViewData["Title"] = Localize("ProjectPage.Title");
}

<div class="card">
    <div class="card-body p-2">
        <form asp-action="Edit">
            @await Html.PartialAsync("_Form", Model)
        </form>
    </div>
</div>