@{
    ViewData["Title"] = Localize("AccessDenied.Title");
}
<div class="row sidemenu-height">
    <div class="col-md-12">
        <div class="construction1 text-center details">
            <div class="">
                <div class="col-md-12">
                    <h1 class="tx-140 mb-0">
                        <img src="~/images/access-denied.png" />
                    </h1>
                </div>
                <div class="col-md-12 ">
                    <h1>@Localize("AccessDenied.Title")</h1>
                    <h6 class="tx-15 mt-3 mb-4 text-muted">@Localize("AccessDenied.Description")</h6>
                </div>
            </div>
        </div>
    </div>
</div>