<footer class="footer mt-3 px-4">
    <div>
        <a href="https://somaraj.github.io/">Backlog</a> © 2024 Somaraj
    </div>
    <div class="ms-auto">
        <a href="#" class="me-3">Version 1.0 alpha</a>
        <a href="#">Support</a>
    </div>
</footer>